[user]
	email = bell.cooper@heb.com
	name = Cooper Bell
[diff]
	tool = delta
[merge]
	tool = delta
[push]
	followTags = true
[pager]
    diff = delta
    show = delta
    log = delta
    reflog = delta
[interactive]
	diffFilter = delta
[pull]
	rebase = true
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
