[user]
	email = bell.cooper@heb.com
	name = Cooper Bell
	signingkey = /Users/b377114/.ssh/ed25519.pub
[diff]
	tool = delta
[difftool "jsondiff"]
	cmd = "$HOME/bin/json-diff $LOCAL $REMOTE"
[alias]
	jdiff = difftool -t jsondiff -y
[merge]
	tool = delta
[push]
	followTags = true
[pager]
    diff = delta
    show = delta
    log = delta
    reflog = delta
[interactive]
	diffFilter = delta
[pull]
	rebase = true
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
